* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
  }
  body {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(2, 90, 159,0.2); */
    background-color: #f1f1f1;
    border-top: 10px solid #025a9f;
    /* background-image: url(/static/img/412b0c702c1294dea7e40e54331c270d.jpg); */
    /* background-position: center;
      background-size: cover; */
      /* background-color: #025a9f; */
  }
  
  .top-logo {
    margin-top: -70px;
    width: 350px;
    /* margin-bottom: 10px; */
  }
  
  main {
    width: 400px;
    padding: 30px;
    margin-top: -60px;
    background-color: #fff;
    /* border: 1px solid #eee; */
    border-radius: 30px 0 0 0;
  }
  
  .button-wrap {
    width: 230px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
  }
  .togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #108cff, #63a9d1);
    border-radius: 30px;
    transition: 0.5s;
  }
  .social-icons {
    margin: 30px auto;
    text-align: center;
  }
  .social-icons img {
    width: 30px;
    cursor: pointer;
  }
  .input-field {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    padding: 0 15px;
    /* background: transparent; */
    background-color: #fff;
    border: 1px solid #ddd;
    outline-color: #025a9f;
  }
  
  .submit {
    width: 100%;
    height: 45px;
    margin-top: 30px;
    background-color: #025a9f;
    /* background: linear-gradient(to right, #108cff, #63a9d1); */
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .subBtn {
    margin-top: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }
  span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
  }
  