<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="login page" />
        <meta name="author" content="Henry_ub" />
        <title>Login - 오늘의 이슈</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVSRNY03C8"></script>
        <!-- <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-NVSRNY03C8');
        </script> -->
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            alert("{{messages[0]}}")
        </script>
        {% endif %}
        {% endwith %}
        <a class="navbar-brand ps-3" href="{{ url_for('index') }}"><img src="/static/img/Today_logo.png" alt="Today_Issue_logo" class="top-logo" /></a>
        <main>
            <form method="POST" id="login_proc" action="{{url_for('login_proc')}}" class="input-group">
                <h2>로그인</h2>
                <input type="email" id="loginId" name="loginId" class="input-field" placeholder="아이디">
                <input type="password" id="loginPw" name="loginPw" class="input-field" placeholder="비밀번호">
                <button type="submit" class="submit"><b>로그인</b></button>
                <p onclick="register()" class="subBtn">회원가입</p>
            </form>
            <form method="POST" id="register" action="{{url_for('register')}}" class="input-group" style="display: none;">
                <h3>회원가입</h3>
                <input type="email" id="registerId" name="registerId" class="input-field" placeholder="아이디">
                <input type="text" id="registerUsername" name="registerUsername" class="input-field" placeholder="이름">
                <input type="password" id="registerPw" name="registerPw" class="input-field" placeholder="비밀번호">
                <button type="submit" class="submit"><b>회원가입</b></button>
                <p onclick="login()" class="subBtn">로그인</p>
            </form>
        </main>
        <script>
            const loginForm = document.getElementById('login_proc')
            const registerForm = document.getElementById('register')
            function login() {
                loginForm.style.display = 'block'
                registerForm.style.display = 'none'
            }
            function register() {
                registerForm.style.display = 'block'
                loginForm.style.display = 'none'
            }
        </script>
    </body>
</html>

